@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import "tailwindcss";



@theme {
  --color-primary: #817493;
  --color-secondary: #CC3232;
  --color-tertiary: #F4CF74;
  --color-utility: #ADADAC;
  --color-lightGray: #EAEAEA;
  --color-windowsBlue: #010081;
  --font-weight-header: 1000;
  --font-bowlby: "Bowlby One SC", sans serif;
  --font-patrick: "Patrick Hand";
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    --font-weight-extrabold: 1000;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black;
    text-shadow: -4px 4px 0 black;
  }

  .text-shadow {
    text-shadow: -1px 1px 0 black;
  }
}